@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

.text-gradient {
  background: linear-gradient(
    90deg,
    #b16cea 14.06%,
    #ff5e69 44.79%,
    #ff8a56 71.87%,
    #ffa84b 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-gradient {
  background: linear-gradient(
    90deg,
    #b16cea 14.06%,
    #ff5e69 44.79%,
    #ff8a56 71.87%,
    #ffa84b 100%
  );
}

.bg-red-gradient {
  position: absolute;
  inset: auto auto -40% -32.5%;
  height: 140%;
  width: 110%;
  transform: rotate(46.98deg);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 96, 104, 0.1) 0%,
    rgba(255, 96, 104, 0) 100%
  );
}

.bg-orange-gradient {
  position: absolute;
  inset: -30% -30% auto auto;
  height: 140%;
  width: 100%;
  transform: rotate(42.74deg);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 147, 82, 0.08) 0%,
    rgba(255, 147, 82, 0) 100%
  );
}

.bg-pink-gradient {
  position: absolute;
  inset: -35% -15% auto auto;
  height: 170%;
  width: 100%;
  transform: rotate(44.24deg);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(177, 108, 234, 0.15) 0%,
    rgba(177, 108, 234, 0) 100%
  );
}

.bg-glass {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.border-gradient {
  border-image: linear-gradient(
      90deg,
      #b16cea 14.06%,
      #ff5e69 44.79%,
      #ff8a56 71.87%,
      #ffa84b 100%
    )
    1;
}

.animate-zoom-in {
  animation: 750ms zoom-in;
}

.border-glass {
  border: 1px solid #28282878;
}

.bg-secondary-glass {
  background: rgba(28, 28, 34, 0.9);
  backdrop-filter: blur(4px);
}

.threedots {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scrollbar-dark::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-dark::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #585858;
  border-radius: 20px;
}
@keyframes zoom-in {
  from {
    transform: translateX(50%);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-x-scrolling {
  transition: all 500ms;
  animation: 30s x-scrolling infinite ease-in-out;
}

@keyframes x-scrolling {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.dark-shadow {
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
}
